form {
  width: 40%;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

form div {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
}

input, select {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(rgb(79,147,206), rgb(40,95,143));
  border: 1px solid rgb(40,95,143);
  margin-top: 10px;
}

button:visited {
  color: white;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}