table {
  width: 40%;
  border-collapse: collapse;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(79,147,206);
  color: white;
}

td {
  text-align: left;
}

tr:hover {
  background-color: #ddd;
}

.TableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}